.login-container {
    height: 430px;
    width: 380px
}

.submit-btn {
    background: #0d6efd;
    color:white !important;  
    border-radius: 8px !important;
    z-index: 12; 
}

.error{
    color: red;
    font-size: 0.90rem;
}


